form {
  max-width: 800px;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 6px;
  margin: 0 auto;
  text-align: left;
  box-shadow: 0 0 10px lightgray;
}

form h2 {
  margin-bottom: 20px;
  text-align: center;
}

form h4 {
  margin-bottom: 5px;
}

form input,
textarea {
  width: 100%;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  padding: 5px;
}

form input {
  margin-bottom: 20px;
}

form textarea {
  margin-bottom: 20px;
}

form button {
  background: none;
  border: none;
  font-size: 18px;
  padding: 15px 45px;
  color: #26de81;
  border: 2px solid #26de81;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
}

form button:hover {
  color: white;
  background: #26de81;
}
